<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:jdbc="http://www.springframework.org/schema/jdbc"
        xmlns:jee="http://www.springframework.org/schema/jee"
        xmlns:lang="http://www.springframework.org/schema/lang"
        xmlns:p="http://www.springframework.org/schema/p"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:cache="http://www.springframework.org/schema/cache"
        xmlns:c="http://www.springframework.org/schema/c"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xsi:schemaLocation="http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-3.2.xsd
                http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
                http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
                http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
                http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-3.2.xsd
                http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    
   <bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" id="crevu_ds"
        p:driverClassName="com.mysql.jdbc.Driver" p:password="root" p:url="jdbc:mysql://localhost:3306/crevu"
        p:username="root"> </bean>

<!-- Activates annotation-based bean configuration -->
        <context:annotation-config/>
        <!-- needed is for @Configurable -->
        <context:component-scan base-package="it.crevu.db" 
        annotation-config="true" />
        <tx:annotation-driven transaction-manager="transactionManager"/>

<!--            <tx:jta-transaction-manager />   -->
    
    <!-- enables @PersistenceUnit/@PersistenceContext annotations -->    
<!--     <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>     -->
    
    <!-- use persistence.xml for JPA configuration -->
        <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
                <!-- needed for multiple persistence units -->
                <property name="persistenceUnitName" value="crevuPersistenceUnit" />
                <property name="dataSource" ref="crevu_ds" />
                <property name="jpaVendorAdapter">
                <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                    <property name="databasePlatform" value="org.hibernate.dialect.MySQL5InnoDBDialect"/>
                    <property name="showSql" value="true"/>
                    <property name="generateDdl" value="false"/>
                </bean>
            </property> 
        </bean>
         
        <!-- enables JPA transaction manager -->
        <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
<!--        <property name="jndiName" value="java:jboss/UserTransaction"/> -->
                <property name="entityManagerFactory" ref="entityManagerFactory" />
                <property name="dataSource" ref="crevu_ds"/>
                <property name="persistenceUnitName" value="crevuPersistenceUnit" />
        </bean>
    
    <!-- 
    <bean class="org.springframework.orm.hibernate3.HibernateTransactionManager"
        id="transactionManager" p:sessionFactory-ref="crevuSessionFactory"/>
     -->
    
    <!-- Imports Spring Social configuration -->
	<import resource="spring-social_test.xml"/>
    
    
        <!-- Beans di Crevu-->
        
        <bean id="twitterMethods" class="it.crevu.social.twitter.TwitterMethods"></bean>
        <bean id="facebookMethods" class="it.crevu.social.facebook.FacebookMethods"></bean>
         
        <bean id="WelcomeUserDAO" class="it.crevu.db.WelcomeUserHome">
        </bean>
	<bean id="WishlistItemDAO" class="it.crevu.db.WishlistItemHome">
        </bean>
	<bean id="WarehouseDAO" class="it.crevu.db.WarehouseHome">
        </bean>
	<bean id="UserDAO" class="it.crevu.db.UserHome">
        </bean>
	<bean id="TshirtProposalDAO" class="it.crevu.db.TshirtProposalHome">
        </bean>
	<bean id="TshirtCategoryDAO" class="it.crevu.db.TshirtCategoryHome">
        </bean>
	<bean id="TransactionDAO" class="it.crevu.db.TransactionHome">
        </bean>
	<bean id="TextWishDAO" class="it.crevu.db.TextWishHome">
        </bean>
	<bean id="TextDAO" class="it.crevu.db.TextHome">
        </bean>
	<bean id="SupplierOrderDAO" class="it.crevu.db.SupplierOrderHome">
        </bean>
	<bean id="SoldTshirtDAO" class="it.crevu.db.SoldTshirtHome">
        </bean>
	<bean id="SocialAccountDAO" class="it.crevu.db.SocialAccountHome">
        </bean>
	<bean id="RevenueDAO" class="it.crevu.db.RevenueHome">
        </bean>
	<bean id="PaymentDAO" class="it.crevu.db.PaymentHome">
        </bean>
	<bean id="PaymentDataDAO" class="it.crevu.db.PaymentDataHome">
        </bean>
	<bean id="OrderedTshirtDAO" class="it.crevu.db.OrderedTshirtHome">
        </bean>
	<bean id="OrderDealDAO" class="it.crevu.db.OrderDealHome">
        </bean>
	<bean id="NotificationDAO" class="it.crevu.db.NotificationHome">
        </bean>
	<bean id="CategoryDAO" class="it.crevu.db.CategoryHome">
        </bean>
	<bean id="BasketItemDAO" class="it.crevu.db.BasketItemHome">
        </bean>
	<bean id="AddressDAO" class="it.crevu.db.AddressHome">
        </bean>

<!--            <property name="SessionFactory" value="crevuSessionFactory"/> -->
         
</beans>
